body {
    font-family: "Arial", sans-serif;
    color: #F2BC94 !important;
    background-color:#722620 !important;
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 408px;
    margin: 50px auto;
}

.cell {
    background-color: #30110D;
    color: #F2BC94;
    font-family: "Permanent Marker", cursive;
    width: 102px;
    height: 102px;
    border: 1px solid #F2BC94;
    cursor: pointer;
    line-height: 102px;
    font-size: 60px;
}

.modal {
    color: #722620;
}

.btn {
    background-color: #722620 !important;
}